.card-bookmarks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  padding: 16px 0px;
  i {
    color: $red;
    font-size: 24px;
  }

}

.bookmark-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.card-bookmark {

  min-height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.bookmark-title-rating {
  display: inline-flex;
  p {
    margin-left: 24px;
    margin-top: 3px;
  }
}

.bookmark-text {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 300px);
}

.btn {
  display: inline-block;
}
